<html>
<head></head>
<body>
{% if errMsg %}
    <p>{{ errMsg }}</p>
{% endif %}
<form action="{% url 'accounts:register'%}" method="post">
    {% csrf_token %}
   {{ forms }}
    <input type="submit" value="Next">
</form>


</body>
</html>