<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
<form action="{% url 'accounts:get-password'%}" method="post">
    {% csrf_token %}
   {{ forms }}
    <input type="submit" value="Submit">
</form>

</body>
</html>