<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_ul }}
    <button type="submit">Next</button>
 </form>
</body>
</html>
