body{
	background-color: #E5E5E5!important;
	font-family: Roboto!important;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #4F4F4F;

}
.headline-form{
	margin-left: 15px;
}

.header-title {
	text-transform: uppercase;
    height: 30px;
    background: #fff;
    color: #333333;
    padding: 4px 0;
}

.fa-bell-o{
	transform: rotate(45deg);
}
.img-fluid{
	width: 100%;
}

.profile-img{
	height: 130px;
	width: 130px;
	margin: 0 auto;
	margin-top: 15px;
}

input#inputHelpBlock{
	padding: 15px 10px 90px;
}

button.btn.btn-primary.save-button {
    bottom: 35px;
    position: absolute;
    left: 30px;
}
form{
	height: 575px;
	background: #fff;
	padding: 5px 0 5px;
	
}



/*************************************************
----------------------------------------------------Media Query-----------------------------------
**************************************************/
@media only screen and (min-width: 1200px){
	p.text-center {
    padding: 0 350px;
}
}
@media only screen and (min-width: 360px) and (max-width: 506px) {
	.header-title .text-left,.header-title .text-right{
		padding-top: 5px;
	}
	.header-title{
		height: 45px
	}
	h2.text-left{
		font-size: 15px!important;
		font-weight: bold;
		margin-left: 15px;
	}
	p.text-center {
    padding: 0 50px;
}

}
@media only screen and (min-width: 510px){
	p.text-center{
		padding: 0 50px;
	}
}