body{
	background-color: #E5E5E5!important;
	font-family: Roboto!important;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #4F4F4F;

}
.form-control{
	margin: 5px 0;
}
.signup-btn{
	background: #2D9CDB;
	width: 100%;
	margin-top: 15px;
}

.bg-color{
	background: #fff;
	margin-top: 80px;
	padding: 30px 180px;
}


.header-title {
	text-transform: uppercase;
    background: #fff;
    color: #333333;
    padding: 4px 0;
}
p {
    margin: 10px 0px 20px;
}



/********************************************
						Media Query
*********************************************/

@media only screen and (min-width: 320px) and (max-width: 420px){
	h2.text-center{
		font-size: 20px;
	}
	p.text-center{
		font-size: 10px;
	}
}
