{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <style>
      div {
        margin: 0px 1050px 10px 0px;
        padding: 10px 10px;
        border: 5px solid #4CAF50;
      }
    </style>
</head>
<body>
  <h1>Service Details</h1>
  <hr>
  {% for service in form %}
    <div class="container">
      {% if service.photo %}
      <b>Service photo:</b>
        <img src="{{ service.photo.url }}" width="140" height="140" alt="service_pic">
      {% endif %}
      <p>Provider: {{service.provider}}</p>
      <p>Category: {{service.category}}</p>
      <p>Service: {{service.service_name}}</p>
      <p>Date: {{service.created_date}}</p>
      <p>Active: {{service.is_active}}</p>
        <a href="{% url 'service_details' service.provider %}">Details</a><br>
        <a href="{% url 'service_edit' service.pk %}">Edit</a>
    </div>
  {% endfor %}
</body>
</html>
