{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
</head>
<body>
  <div class="container">
    <h1>Service create page</h1>
    <hr>
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{form.as_p}}
      <button type="submit">service</button>
    </form>
  </div>
</body>
</html>
