{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
</head>
<body>
  <div class="container">
    <h1> Service catagory </h1>
    <hr>

    {% for category in form %}

        <p><a href="{% url 'categorywise_service' category.category_name %}">{{ category.category_name }}</a></p>

    {% endfor %}

  </div>
</body>
</html>
