{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Title</title>
    <style>
      div {
        margin: 0px 1050px 10px 0px;
        padding: 10px 10px;
        border: 5px solid #4CAF50;
      }
    </style>
</head>
<body>
  <h1>Service Details</h1>
  <hr>
  <div class="container">
    <b>Service photo:</b>
    <img src="{% if form.photo %}
                            {{ form.photo.url }}
                        {% else %}
                            https://qph.ec.quoracdn.net/main-qimg-7ca600a4562ef6a81f4dc2bd5c99fee9-c
                        {% endif %}" height="200px" width="200px"/>
{#    <p>{{form.pk}}</p>#}
    <p>Provider: {{form.provider}}</p>
    <p>Category: {{form.category}}</p>
    <p>Service: {{form.service_name}}</p>
    <p>Date: {{form.created_date}}</p>
    <p>Active: {{form.is_active}}</p>
    <a href="{% url 'service_details' form.provider %}">Details</a>
    <br><a href="{% url 'service_edit' form.pk %}">Edit</a>
  </div>
</body>
</html>
