{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>this is home page</h1>
    <a href="{% url 'accounts:register' %}">রেজিষ্ট্রেশন করুন</a>
    <p>services</p>
    <ul>
        {% for service in services %}
            <li>{{ service.service_name }}</li>
        {% endfor %}
    </ul>
{% endblock %}